{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma":"h", "pragmaFrag": "Fragment" }],
    [
      "babel-plugin-module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".ts", ".tsx", ".js"],
        "alias": {
          "@": "./src",
          "@shared": "./shared"
        }
      }
    ]
  ]
}