.teamRankings {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: hidden;
  .betaBar {
    padding: .25em;
    width: 100%;
    background: #ff8888;
    text-align: center;
    font-size: 0.75em;

    position: relative;
    z-index: 10;
  }

  table {
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 0;

    margin-top: -2px; // No idea why there's a tiny gap between the table and the betaBar
    width: 100%;
    
    th {
      position: sticky;
      top: 0;
      text-align: left;
      background-color: #ccc;
      padding-inline: 15px;
    }

    thead {
      transform: translateZ(10px);
      position: relative;
      z-index: 10;
    }

    tbody {
      height: 100%;
      animation-name: ticker;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-style: preserve-3d;
    }

    td {
      padding-inline: 15px;
    }

    tr:nth-child(even) {
      background-color: #0001
    }

    .wtlCell {
      display: grid; grid-template-columns: 2fr 1fr 2fr 1fr 2fr;

      span {
        margin: 0 auto;
      }
    }
  }
  
  @keyframes ticker {
    0% {
      transform: translateY(100vh);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
}