.ticker {
  // background-color: #0c0e15;
  width: 100%;
  overflow: hidden;
}

.ticker-list {
  display: inline-flex;
  flex: 0 0 100%;
  width: fit-content;
  animation-name: ticker;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ticker {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

.tickerItem {
  display: table-cell;
  position: relative;
  vertical-align: top;
}


