@use "sass:color";
$text-color: #111;

.app {
    height: 100vh;
    font-size: 5vh;
    color: $text-color;
    display: flex;
    flex-direction: column;
}

.identify {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  font-size: 0.7em;
  z-index: 1000;
}

.infoText {
    padding-top: 2em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.warningBar {
    background-color: color.adjust(orange, $lightness: -20%);
    color: white;
    text-align: center;
    width: 100%;
}