$text-color: #111;

.app {
    height: 100vh;
    font-size: 5vh;
    color: $text-color;
    display: flex;
    flex-direction: column;
}

.infoText {
    padding-top: 2em;
    text-align: center;
}

.warningBar {
    background-color: darken(orange, 20%);
    color: white;
    text-align: center;
    width: 100%;
}