.loginForm {
    padding: 20px;
    text-align: center;
    input {
        padding: 20px; margin-right: 20px;
    }
    button {
        padding: 20px;
    }
}

.disclaimer {
    margin: 20px auto;
    max-width: 50%;
    text-align: center;
    font-size: 0.5em;
}

.badCode {
    text-align: center;
}