# This systemd service can be used to run the Cloud Function more frequently than once a minute
# If using this, it's recommended to disable the Cloud Scheduler that Firebase creates by default

[Unit]
Description=Run the updateCurrentMatch Firebase Function
After=network.target
StartLimitIntervalSec=5
StartLimitBurst=2

[Service]
Type=simple
{# Restart=always #}
{# RestartSec={{ intervalSec }} #}
User=root
ExecStart=/usr/bin/env gcloud functions call updateCurrentMatch --data {}
# Optionally, send a ping to a health check for alerting if the service stops running
{% if not healthCheckEnabled or healthCheckUrl == "" %}# {% endif %}ExecStartPost=/usr/bin/env curl -fsS -m 10 --retry 5 -o /dev/null {{ healthCheckUrl or "<<Health Check URL>>" }}
