$border-color: #fafafa;

body {
    background-color: black !important;
    color: white !important;
}

tr {
    color: #fafafa;
}

hr {
    margin: 0;
    position: absolute;
    width: 99%;
    border-width: 3px;
}

.infoText {
    padding-top: 2em;
    text-align: center;
}

.textCenter {
    text-align: center;
}

.matchNumber {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.sponsorLogo {
    width: 14vw;
    height: auto;
}

.bold {
    font-weight: bold;
}

.faderBase {
    &> div {
        position: absolute;
        transition: all ease .5s;
        text-align: center;
        width: 30vw;
        font-weight: bold;
    }
}

.red {
    color: red;
}

.blue {
    color: #5454ff;
}
