$border-color: #fafafa;

$teamlist-size: 5.5vh;
$matchnumber-size: 18vh;

$cell-vertical-negative: -3vh;


tr {
    color: #fafafa !important;
}

tbody > tr {
    height: 22vh;
}

.textCenter {
    text-align: center;
}

.matchNumber {
    text-align: center;
    font-size: $matchnumber-size;
    font-weight: bold;
    position: relative;
    top: $cell-vertical-negative;
    line-height: 0.8;
}

.nextMatchScroll {
    position: relative;
    top: $cell-vertical-negative;
}

.flexRow {
    display: flex;
    flex-direction: row;
    font-size: $teamlist-size;
}

.sponsorLogo {
    width: 14vw;
    height: auto;
}

.bold {
    font-weight: bold;
}

.faderBase {
    &> div {
        position: absolute;
        transition: all ease .5s;
        text-align: center;
        width: 30vw;
        font-weight: bold;
        border-radius: 1em;
        font-size: $teamlist-size;
    }
}

.red {
    background: rgba(255, 0, 0, .5);
}

.blue {
    background: rgba(84, 84, 255, .5);
}
