html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body:not(:has(> #app > #preact_root > .--no-body-background-color)) {
	background: #eee;
}

body:has(> #app > #preact_root > .--no-body-background-color) {
  max-height: 100vh;
  overflow: hidden;
}

* {
	box-sizing: border-box;
}
