.matchDisplay {
    width: 100%;
    display: grid; 
    grid-template-columns: auto 3fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 1.5em; 
    grid-template-areas: 
      "matchNumber ."
      "matchNumber ."; 

    .matchNumber { grid-area: matchNumber; }

    align-items: center;

    text-align: left;

    .red { 
        color: red;

        .avatar>img {
            background-color: red;
        }
    }
    .blue { 
        color: blue;

        .avatar>img {
            background-color: blue;
        }
    }

    .red, .blue {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        justify-content: space-between;
        & > * {
            font-weight: 700;
        }
    }

    .avatar {
        display: inline-block;
        width: 1em;
        margin-right: 15px;
        height: 1em;
        vertical-align: middle;

        img {
            height: 100%;
        }
    }

    &.halfWidth {
        @media only screen and (max-width: 1200px) {
            text-align: center;

            font-size: 3vw;
            .avatar {
                display: block;
                margin: 0 auto;
            }
        }
    }
}