$border-color: #222;

.infoText {
    padding-top: 2em;
    text-align: center;
}

.menu {
    position: absolute;
    top: 0;
    width: 100vw;
    border: #222;
    padding: 10px 5%;
    background: #e5e5e5;
    box-shadow: 0px 3px 10px 0px #000000;
    transition: transform 0.3s ease-out;
    transform: translateY(0);

    &.hidden {
        transform: translateY(calc(-100% - 20px));
    }

    &:hover, &:focus-within {
        transform: translateY(0);
    }

    label {
        padding-right: 10px;
        font-size: 0.5em;
    }

    .actions {
        display: flex;
        justify-content: space-between;

        span {
            text-overflow: ellipsis;
            text-align: center;
        }

        .scrollInstruction {
            font-size: 0.5em;
        }

        .assistedInstruction {
            font-size: 12px;
            width: 20vw;
        }
    }
}

.fullHeight {
    height: 100vh;
}

.qualsDisplay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.matches {
    display: flex;
    //gap: 30px;
    flex-direction: column;
    justify-content: space-around;

    &>:not(.topBar) {height: 100%; padding: 0 2vw; }
    &>:not(:last-child) { border-bottom: 5px solid $border-color; }

    .topBar {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        &>* {
            width: 100%;
            padding: 2vw;
        }

        &>:not(:last-child) { border-right: 5px solid $border-color; }

        .description {
            text-align: center;
            display: block;
        }
    }
}
